<div class="adminuiux-sidebar">
  {% load static %}
  <div class="adminuiux-sidebar-inner">
    <div class="px-3 not-iconic mt-3">
      <div class="row">
        <div class="col align-self-center">
          <p class="h6">Good Morning!</p>
        </div>
        <div class="col-auto">
          <a
            class="btn btn-link btn-square"
            data-bs-toggle="collapse"
            data-bs-target="#usersidebarprofile"
            aria-expanded="false"
            role="button"
            aria-controls="usersidebarprofile"
            ><i data-feather="user"></i
          ></a>
        </div>
      </div>
      <div class="text-center collapse" id="usersidebarprofile">
        <figure class="avatar avatar-100 rounded-circle coverimg my-3">
          <img
            src="{% if profile.profile_image %}{{ profile.profile_image.url }}{% else %}{% static 'assets/img/modern-ai-image/user-4.jpg' %}{% endif %}"
            alt=""
          />
        </figure>
        {% if user.is_authenticated %}
        <p class="mb-1 h5">{{ user.get_full_name|default:user.username }}</p>

        {% if user.is_doctor %}
        <p class="small">Doctor</p>
        {% elif user.is_assistant %}
        <p class="small">Assistant</p>
        {% elif user.is_patient %}
        <p class="small">Patient</p>
        {% else %}
        <p class="small">Unknown Role</p>
        {% endif %} {% endif %}
      </div>
    </div>
    <ul class="nav flex-column menu-active-line my-3">
      <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link"
          ><i class="menu-icon" data-feather="grid"></i>
          <span class="menu-name">Dashboard</span></a
        >
      </li>
      {% if user.is_doctor %}
      <!-- Doctor: peut voir tous les rôles -->
      <li class="nav-item dropdown">
        <a
          href="javascript:void(0)"
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          <i class="menu-icon" data-feather="users"></i>
          <span class="menu-name">Users</span>
        </a>
        <div class="dropdown-menu">
          <div class="nav-item">
            <a href="{% url 'liste_doctors' %}" class="nav-link">
              <i class="menu-icon" data-feather="users"></i>
              <span class="menu-name">Doctors</span>
            </a>
          </div>
          <div class="nav-item">
            <a href="{% url 'liste_assistants' %}" class="nav-link">
              <i class="menu-icon" data-feather="users"></i>
              <span class="menu-name">Assistant</span>
            </a>
          </div>
          <div class="nav-item">
            <a href="{% url 'liste_patients' %}" class="nav-link">
              <i class="menu-icon" data-feather="users"></i>
              <span class="menu-name">Patient</span>
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="{% url 'schedule_list' %}" class="nav-link">
          <i class="menu-icon" data-feather="calendar"></i>
          <span class="menu-name">Schedule</span>
        </a>
      </li>
      {% elif user.is_assistant %}
      <!-- Assistant: peut voir seulement les patients -->
      <li class="nav-item">
        <a href="{% url 'liste_patients' %}" class="nav-link">
          <i class="menu-icon" data-feather="users"></i>
          <span class="menu-name">Patients</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'schedule_list' %}" class="nav-link">
          <i class="menu-icon" data-feather="calendar"></i>
          <span class="menu-name">Schedule</span>
        </a>
      </li>
      {% elif user.is_patient %}
      <li class="nav-item">
        <a href="{% url 'doctors_profile' %}" class="nav-link">
          <i class="menu-icon" data-feather="users"></i>
          <span class="menu-name">Find Your Doctor</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'assistants_profile' %}" class="nav-link">
          <i class="menu-icon" data-feather="users"></i>
          <span class="menu-name">Find Your Assistant</span>
        </a>
      </li>
      {% endif %}
    </ul>
    <div class="mt-auto"></div>
    <ul class="nav flex-column menu-active-line">
      <li class="nav-item">
        <a href="clinic-chat-call.html" class="nav-link"
          ><i class="menu-icon" data-feather="message-circle"></i>
          <span class="menu-name">Chat & Calls</span></a
        >
      </li>
      <li class="nav-item">
        <a href="{% url 'settings' %}" class="nav-link"
          ><i class="menu-icon" data-feather="settings"></i>
          <span class="menu-name">Settings</span></a
        >
      </li>
    </ul>
  </div>
</div>
